In [1]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [7]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

Print Result with String

In [16]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [22]:
name='Python' 
age=20
city='hyd'

In [24]:
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

In [26]:
#print Format Method

In [30]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is ={}'.format(num1,num2,add))

The addition of 20 and 30 is =50

In [32]:
name='Python'
age=20
city='hyd'

In [34]:
print('hello my name is {}, and i am {} years old from  {}'.format(name,age,city))

hello my name is Python, and i am 20 years old from  hyd

In [36]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)
print('the average of {},{}, and {} is ={} or{}'.format(num1,num2,num3,avg,avg1))

the average of 100,25, and 333 is =152.66666666666666 or152.67

In [42]:
round(avg,2)

152.67

In [44]:
#More short format method(f string method)

In [46]:
num1=20
num2=30

In [48]:
add=num1+num2
print(f'The addition of {num1} and{num2} is={add}')

The addition of 20 and30 is=50

In [50]:
name='Python'
age=20
city='hyd'

In [56]:
print(f'hello my name is {name}, and i am {age} year old, from{city}.')

hello my name is Python, and i am 20 year old, fromhyd.

In [58]:
num1=100
num2=25
nnum3=333
avg=round((num1+num2+num3)/3,2)

In [60]:
print(f'The average of {num1},{num2} and{num3} is = {avg}')

The average of 100,25 and333 is = 152.67

In [62]:
num1=10
num2=20
add=num1+num2
print('The Addition of',num1,'and',num2,'is=',add)
print('the addition of {} and{} is={}'.format(num1,num2,add))

The Addition of 10 and 20 is= 30
the addition of 10 and20 is=30

In [64]:
print(f'The addition of {num1} and{num2} is={add}')

The addition of 10 and20 is=30

end Statement

In [67]:
print('hello')
print('Good Morning')

hello
Good Morning

Seperator

In [70]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [72]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [74]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [76]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [78]:
print(3,'.')

3 .

In [80]:
print(3,'.',sep='')

3.

In [82]:
print(1,2,end=' ') 
print(3,'.',sep='')

1 2 3.